@import "~normalize.css"
@import "./font.css"
@import "~bootstrap/scss/bootstrap";

$body-color: blue

body 
  color: $body-color
  font-family: azaza

  .logo
   width: 100px
   height: 100px
   background-image: url(./assets/1.png)
